<template>
  <article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
      <header class="resume-header pt-4 pt-md-0">
        <div class="media flex-column flex-md-row">
          <img
            class="mr-3 img-fluid picture mx-auto"
            src="../assets/images/profile.jpg"
            alt=""
          />
          <div
            class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0"
          >
            <div class="primary-info">
              <h1
                class="name mt-0 mb-1 text-white text-uppercase text-uppercase"
              >
                Ladda Udomsiripinij
              </h1>
              <div class="title mb-3">Full Stack Developer</div>
              <ul class="list-unstyled">
                <li class="mb-2">Email : ud.ladda@gmail.com</li>
                <li class="mb-2">Mobile : 081-550-5096</li>
                <li class="mb-2">Date of Birth: 25 Jan 1987 (32 years old)</li>
                <li>
                  Address : 11 Chan18/7-26 Thungwattdorn Sathorn Bangkok 10120
                </li>
              </ul>
            </div>
            <!--//primary-info-->
            <div class="secondary-info ml-md-auto mt-2"></div>
            <!--//secondary-info-->
          </div>
          <!--//media-body-->
        </div>
        <!--//media-->
      </header>
      <div class="resume-body p-5">
        <section class="resume-section summary-section mb-5"></section>
        <!--//summary-section-->
        <div class="row">
          <div class="col-lg-9 col-md-9">
            <section class="resume-section experience-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Work Experience
              </h2>
              <div class="resume-section-content">
                <div class="resume-timeline position-relative">
                  <article class="resume-timeline-item position-relative pb-3">
                    <div class="resume-timeline-item-header mb-2">
                      <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                          Software Development Manager
                        </h3>
                        <div class="resume-company-name ml-auto">
                          2 3 Perspective Co., Ltd.
                        </div>
                      </div>
                      <!--//row-->
                      <div class="resume-position-time">2017 - Present</div>
                    </div>
                    <!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Roles & Responsibilities:
                      </h4>
                      <ul>
                        <li>Build and maintain E-Commerce Website.</li>
                        <li>
                          Build reusable code and libraries for future use.
                        </li>
                        <li>
                          Integrate front-end and back-end aspects of the web
                          application.
                        </li>
                        <li>
                          Design overall architecture of the web application.
                        </li>
                        <li>
                          Collaborate with others teams and stakeholders to
                          deliver the project.
                        </li>
                        <li>
                          Solve complex performance problems and architectural
                          challenges.
                        </li>
                        <li>
                          Improve application to maximize speed and scalability.
                        </li>
                        <li>
                          Ensure technical implementation meet the high standard
                          of scalability, availability, resiliency, and
                          security.
                        </li>
                        <li>
                          Response for project teams both junior and developer
                          to derive the project as per requirement within
                          timeline.
                        </li>
                        <li>
                          Being the team leader for each project to reach the
                          requirement within timeline.
                        </li>
                        <li>
                          Supervising and mentoring the front-end and back-end
                          web developer team by providing overall guidance and
                          direction, including distribute positive and
                          development feedback in proactively.
                        </li>
                        <li>
                          Planning the resources to optimize the projects.
                        </li>
                        <li>
                          Response for the whole team including the work flow
                          process in order to come up with efficiency result.
                        </li>
                        <li>
                          Develop work flow processes both internal and external
                          department.
                        </li>
                        <li>
                          Create/plan/form the strategies to optimize the cost
                          and work flow by co-ordinate with PM Team and Sale
                          Team.
                        </li>
                        <li>
                          Manage outsourcing third party development projects.
                        </li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Project:
                      </h4>
                      <ul>
                        <li>Carelicious E-commerce Website by SCG</li>
                        <li>Linsweet E-Commerce Website</li>
                        <li>Diamondgrains E-Commerce Website</li>
                        <li>Glassaholic E-Commerce Website</li>
                        <li>Panna Skin Care E-Commerce Website by Singha</li>
                        <li>Singha Life E-Commerce Website by Singha</li>
                        <li>Royal Canin Interactive Event</li>
                        <li>Ocean Property Corporate Website</li>
                        <li>ISO 27001 Standard</li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Technologies used:
                      </h4>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >PHP</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >jQuery</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Javascript</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >MySQL</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >HTML</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >CSS</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Redis</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Codeigniter</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Java for android</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Magento1.9</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Magento2</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Zend Framework</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Elasticsearch</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >VueJS</span
                          >
                        </li>
                      </ul>
                    </div>
                    <!--//resume-timeline-item-desc-->
                  </article>
                  <!--//resume-timeline-item-->
                </div>
              </div>
              <div class="resume-section-content">
                <div class="resume-timeline position-relative">
                  <article class="resume-timeline-item position-relative pb-5">
                    <div class="resume-timeline-item-header mb-2">
                      <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                          Senior Software Developer
                        </h3>
                        <div class="resume-company-name ml-auto">
                          2 3 Perspective Co., Ltd.
                        </div>
                      </div>
                      <!--//row-->
                      <div class="resume-position-time">2013 - 2017</div>
                    </div>
                    <!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Roles & Responsibilities:
                      </h4>
                      <ul>
                        <li>Build and maintain E-Commerce Website.</li>
                        <li>
                          Build reusable code and libraries for future use.
                        </li>
                        <li>
                          Integrate front-end and back-end aspects of the web
                          application.
                        </li>
                        <li>
                          Design overall architecture of the web application.
                        </li>
                        <li>
                          Collaborate with others teams and stakeholders to
                          deliver the project.
                        </li>
                        <li>
                          Solve complex performance problems and architectural
                          challenges.
                        </li>
                        <li>
                          Improve application to maximize speed and scalability.
                        </li>
                        <li>
                          Ensure technical implementation meet the high standard
                          of scalability, availability, resiliency, and
                          security.
                        </li>
                        <li>
                          Response for project teams both junior and developer
                          to derive the project as per requirement within
                          timeline.
                        </li>
                        <li>
                          Being the team leader for each project to reach the
                          requirement within timeline.
                        </li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Project:
                      </h4>
                      <ul>
                        <li>
                          Capability Maturity Model Integration (CMMI) Level 3
                        </li>
                        <li>
                          CAESAR Website (Internal Used) for CMMI PM Process
                        </li>
                        <li>Interhoreca E-commerce Website</li>
                        <li>Riviera Suisse E-Commerce Website</li>
                        <li>Tourism Authority of Thailand Official Website</li>
                        <li>Airmosphere Website By Airasia Thailand</li>
                        <li>Granmonte Loyalty Program Website</li>
                        <li>
                          Airasia Panda Website Campaign by Airasia Thailand
                        </li>
                        <li>
                          5December Website Campaign by Tourism Authority of
                          Thailand
                        </li>
                        <li>
                          We Care We Share Website Campaign by Tourism Authority
                          of Thailand
                        </li>
                        <li>INN News Website</li>
                        <li>We Love Royalty Android Application</li>
                        <li>
                          AAS Harley-Davidson of Bangkok Interactive Event
                        </li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Technologies used:
                      </h4>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >PHP</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >jQuery</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Javascript</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >MySQL</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >HTML</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >CSS</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Redis</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Codeigniter</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Java for android</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Magento1.9</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Magento2</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Zend Framework</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Elasticsearch</span
                          >
                        </li>
                      </ul>
                    </div>
                    <!--//resume-timeline-item-desc-->
                  </article>
                  <!--//resume-timeline-item-->
                  <article class="resume-timeline-item position-relative pb-5">
                    <div class="resume-timeline-item-header mb-2">
                      <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                          Software Developer
                        </h3>
                        <div class="resume-company-name ml-auto">
                          2 3 Perspective Co., Ltd.
                        </div>
                      </div>
                      <!--//row-->
                      <div class="resume-position-time">2010 - 2013</div>
                    </div>
                    <!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Roles & Responsibilities:
                      </h4>
                      <ul>
                        <li>
                          Build and maintain Website and Android Application.
                        </li>
                        <li>
                          Build reusable code and libraries for future use.
                        </li>
                        <li>
                          Integrate front-end and back-end aspects of the web
                          application.
                        </li>
                        <li>
                          Design overall architecture of the web application.
                        </li>
                        <li>
                          Collaborate with others teams and stakeholders to
                          deliver the project.
                        </li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Project:
                      </h4>
                      <ul>
                        <li>Wikalenda Website</li>
                        <li>Tourism Authority of Thailand Official Website</li>
                        <li>Canonlife Android Application</li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Technologies used:
                      </h4>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >PHP</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >jQuery</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Javascript</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >MySQL</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >HTML</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >CSS</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Redis</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Codeigniter</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Java for android</span
                          >
                        </li>
                      </ul>
                    </div>
                    <!--//resume-timeline-item-desc-->
                  </article>
                  <!--//resume-timeline-item-->
                </div>
              </div>
              <div class="resume-section-content">
                <div class="resume-timeline position-relative">
                  <article class="resume-timeline-item position-relative pb-5">
                    <div class="resume-timeline-item-header mb-2">
                      <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                          Junior Software Developer
                        </h3>
                        <div class="resume-company-name ml-auto">
                          2 3 Perspective Co., Ltd.
                        </div>
                      </div>
                      <!--//row-->
                      <div class="resume-position-time">2009 - 2010</div>
                    </div>
                    <!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Roles & Responsibilities:
                      </h4>
                      <ul>
                        <li>
                          Build and maintain Website and Android Application.
                        </li>
                        <li>
                          Build reusable code and libraries for future use.
                        </li>
                        <li>
                          Integrate front-end and back-end aspects of the web
                          application.
                        </li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Project:
                      </h4>
                      <ul>
                        <li>Wikalenda Website</li>
                        <li>Wikelenda Application on LG TV</li>
                        <li>Bangkok Touch Screen</li>
                        <li>Facebook Activity for Marketing Campaign</li>
                        <li>
                          Amazingcountdown Website by Tourism Authority of
                          Thailand
                        </li>
                      </ul>
                      <h4
                        class="resume-timeline-item-desc-heading font-weight-bold"
                      >
                        Technologies used:
                      </h4>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >PHP</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >jQuery</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Javascript</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >MySQL</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >HTML</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >CSS</span
                          >
                        </li>
                        <li class="list-inline-item">
                          <span class="badge badge-primary badge-pill"
                            >Codeigniter</span
                          >
                        </li>
                      </ul>
                    </div>
                    <!--//resume-timeline-item-desc-->
                  </article>
                  <!--//resume-timeline-item-->
                  <article class="resume-timeline-item position-relative">
                    <div class="resume-timeline-item-header mb-2">
                      <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">
                          PABI System Help Desk
                        </h3>
                        <div class="resume-company-name ml-auto">NSTDA</div>
                      </div>
                      <!--//row-->
                      <div class="resume-position-time">
                        JUL 2009 - OCT 2009
                      </div>
                    </div>
                    <!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                      <p>
                        Advise and instruct PABI System (Process Advance towards
                        Better Integration), as known as (SAP customized for
                        NSTDA) to the user in order to manage the database
                        resources in efficiency.
                      </p>
                    </div>
                    <!--//resume-timeline-item-desc-->
                  </article>
                  <!--//resume-timeline-item-->
                </div>
                <!--//resume-timeline-->
              </div>
            </section>
            <!--//experience-section-->
          </div>
          <div class="col-lg-3 col-md-3">
            <section class="resume-section skills-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Skills &amp; Tools
              </h2>
              <div class="resume-section-content">
                <div class="resume-skill-item">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <span class="badge badge-light">PHP</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Javascript</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">jQuery</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">MySQL</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">VueJS</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Java</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Android</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Web Socket</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">bash shell script</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Redis</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Elasticsearch</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Agile</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">CMMI</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">ISO 27001</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Git</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">REST API</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">JSON</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">XML</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Wireframing</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Magento2</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">E-Commerce</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Balsamiq</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">WordPress</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Google API</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Facebook API</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">LINE API</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Firebase Database</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light"
                        >Codeigniter Framework</span
                      >
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">Zend Framework</span>
                    </li>
                    <li class="list-inline-item">
                      <span class="badge badge-light">SEO</span>
                    </li>
                  </ul>
                </div>
                <!--//resume-skill-item-->
              </div>
              <!--resume-section-content-->
            </section>
            <!--//skills-section-->
            <section class="resume-section education-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Education
              </h2>
              <div class="resume-section-content">
                <ul class="list-unstyled">
                  <li>
                    <div class="resume-degree font-weight-bold">
                      Bachelor's degree in Computer Science
                    </div>
                    <div class="resume-degree-org">Kasetsart University</div>
                    <div class="resume-degree-time">2005 - 2009</div>
                  </li>
                </ul>
              </div>
            </section>
            <!--//education-section-->
            <section class="resume-section reference-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Certifications
              </h2>
              <div class="resume-section-content">
                <ul class="list-unstyled resume-awards-list">
                  <li class="mb-2 position-relative">
                    <div class="resume-award-name">CMMI for Development</div>
                    <div class="resume-award-desc">CMMI Institute</div>
                    <div class="resume-degree-time">2013</div>
                  </li>
                  <li class="mb-2 position-relative">
                    <div class="resume-award-name">GLOBAL MINI MBA</div>
                    <div class="resume-award-desc">
                      Thammasat Business School
                    </div>
                    <div class="resume-degree-time">2013</div>
                  </li>
                  <li class="mb-0 position-relative">
                    <div class="resume-award-name">
                      Business Analysis Program
                    </div>
                    <div class="resume-award-desc">
                      Chulalongkorn University
                    </div>
                    <div class="resume-degree-time">2012</div>
                  </li>
                </ul>
              </div>
            </section>
            <!--//interests-section-->
            <section class="resume-section language-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Language
              </h2>
              <div class="resume-section-content">
                <ul class="list-unstyled resume-lang-list">
                  <li class="mb-2">
                    <span class="resume-lang-name font-weight-bold">Thai</span>
                    <small class="text-muted font-weight-normal"
                      >(Native)</small
                    >
                  </li>
                  <li class="mb-2 align-middle">
                    <span class="resume-lang-name font-weight-bold"
                      >English</span
                    >
                    <small class="text-muted font-weight-normal">(Fair)</small>
                  </li>
                </ul>
              </div>
            </section>
            <!--//language-section-->
            <section class="resume-section interests-section mb-5">
              <h2
                class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3"
              >
                Interests
              </h2>
              <div class="resume-section-content">
                <ul class="list-unstyled">
                  <li class="mb-1">Traveling</li>
                  <li class="mb-1">Photography</li>
                  <li class="mb-1">Technologies</li>
                  <li class="mb-1">Gadget</li>
                  <li class="mb-1">Music</li>
                  <li class="mb-1">Movie</li>
                </ul>
              </div>
            </section>
            <!--//interests-section-->
          </div>
        </div>
        <!--//row-->
      </div>
      <!--//resume-body-->
    </div>
  </article>
</template>

<style scoped>
/*************************** Pillar Styles ****************************/
.badge-primary {
  color: #fff;
  background-color: #434e5e;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #2e3540;
}

.theme-bg-primary {
  background-color: #434e5e;
}

.theme-bg-primary-darken {
  background-color: #191d22;
}

a.theme-btn-on-bg,
.theme-btn-on-bg {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
}

a.theme-btn-on-bg:hover,
a.theme-btn-on-bg:focus,
a.theme-btn-on-bg:active,
.theme-btn-on-bg:hover,
.theme-btn-on-bg:focus,
.theme-btn-on-bg:active {
  background: rgba(0, 0, 0, 0.4);
  border-color: transparent;
  border: none;
}

.progress {
  border-radius: 2px;
}

.theme-progress-bar-dark {
  background-color: #434e5e;
}

.resume-wrapper {
  padding-top: 30px;
  padding-bottom: 60px;
}

.resume-wrapper-inner {
  max-width: 1000px;
}

.resume-header {
  background: #434e5e;
  color: rgba(255, 255, 255, 0.9);
  height: 285px;
}

.resume-header .picture {
  width: 220px;
}

.resume-header .name {
  font-size: 2.25rem;
  letter-spacing: 0.175rem;
  font-weight: 900;
}

.resume-header .title {
  font-size: 1.5rem;
}

.resume-header a {
  color: rgba(255, 255, 255, 0.6);
}

.resume-header a:hover {
  color: white;
}

.resume-social {
  font-size: 0.875rem;
}

.resume-social .fa-container {
  font-size: 1rem;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 0.125rem;
  background: white;
  color: #434e5e;
}

.resume-section-title {
  font-size: 1.25rem;
  position: relative;
  color: #434e5e;
}

.resume-section-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.5px;
  background: #8d9aad;
}

.resume-section-content {
  color: #58677c;
}

.resume-timeline {
  padding-left: 2rem;
}

.resume-timeline:before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 100%;
  background: #aab4c3;
  left: 6px;
  top: 4px;
  position: absolute;
}

.resume-timeline-item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 15px;
  height: 15px;
  border: 4px solid #58677c;
  background: white;
  border-radius: 50%;
}

.resume-progress {
  height: 0.6rem;
}

.resume-company-name {
  color: #58677c;
  font-size: 0.875rem;
  font-weight: 500;
}

.resume-position-time {
  font-size: 0.875rem;
  color: #aab4c3;
}

.resume-position-title {
  font-size: 1.125rem;
  color: #434e5e;
}

.resume-timeline-item-desc-heading {
  font-size: 1rem;
}

.resume-skills-cat {
  font-size: 1rem;
  color: #434e5e;
}

.resume-skill-name {
  font-size: 0.8125rem;
  color: #434e5e;
}

.resume-degree {
  color: #434e5e;
}

.resume-degree-org {
  font-size: 0.875rem;
}

.resume-degree-time {
  color: #aab4c3;
  font-size: 0.875rem;
}

.resume-award-icon {
  left: 0;
  top: 4px;
  color: #aab4c3;
}

.resume-award-name {
  font-weight: bold;
  color: #434e5e;
}

.resume-award-desc {
  font-size: 0.875rem;
}

.resume-lang-name {
  color: #434e5e;
}

@media (max-width: 767.98px) {
  .resume-wrapper {
    padding-top: 0;
  }
  .resume-header {
    height: auto;
  }
  .resume-header .picture {
    width: 120px;
    border-radius: 4px;
  }
}
</style>
