<template>
  <div class="row py-5">
    <h1 class="mx-auto w-100">{{ title }}</h1>
    <ul class="list-unstyled mx-auto">
      <li class="media border p-3" v-for="(value, key) in post" :key="key">
        <div class="media-body">
          <h5 class="mt-0 mb-1 text-left">Name: {{ value.name }}</h5>
          <h5 class="mt-0 mb-1 text-left">Rating: {{ value.rating }}</h5>
          <h5 class="mt-0 mb-1 text-left">Place ID: {{ value.place_id }}</h5>
          <h5 class="mt-0 mb-1 text-left">
            Address: {{ value.formatted_address }}
          </h5>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      post: null,
      title: "Loading restaurant in Bang Sue..."
    };
  },
  created: function() {
    axios.get("https://www.zentradian.com/scg/place/").then(res => {
      this.title = "Restaurant in Bang Sue";
      this.post = res.data.results;
    });
  }
};
</script>
