<template>
  <p>{{ findXYZ(3,7) }}</p>
</template>

<script>
export default {
  methods: {
    findXYZ(start,limit) {
      var result = '';
      for (var i = 0; i < limit; i++) {
        var add = i * 2;
        start = start + (add);
        if (i > 0) {
          result += ",";
        }
        result += start;
      }
      return result;
    }
  }
};
</script>
